DATABASE_URL=postgresql://neondb_owner:npg_hg7DxXpm9TPz@ep-bitter-wave-aw52t9pu-pooler.c-12.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_hg7DxXpm9TPz@ep-bitter-wave-aw52t9pu.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=quentinhas_da_re_jwt_super_secret_key_2026_seguro
ADMIN_PASSWORD=teste2026

# AbacatePay (Chave de API em Integrar -> API Keys, ex: abc_prod_...)
ABACATEPAY_API_KEY=
